@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --textColor: white;
    --font: 'Karla', sans-serif;
    --headerFont: 'Poppins', sans-serif, 'arial';
    --describeFont: 'Roboto', sans-serif, 'arial';

}

html {
    background-image: url('aj-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
    color: var(--textColor);
}

body {
    margin: 10px;
    position: center;
}

.card {
  display: block;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 12px; 
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.userName {
    color: var(--textColor);
    text-align: center;
    font-family: var(--headerFont);
    font-weight: 600;
    font-size: 20px;
    margin: 10px auto;
}

.description {
    font-family: var(--describeFont);
    color: var(--textColor);
    text-align: center;
    margin: 27px auto;
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    width: 90%;
    max-width: 500px;
}

.profilePicture, .profilePicture img {
    position: relative;
    width: 130px;
    height: 130px;
    display: block;
    margin: 35px auto 25px;
    border-radius: 100px;
}

.links {
    max-width: 675px;
    /* width: 100%; */
}

.link {
    background-color: transparent;
    color: var(--textColor);
    border-style: solid; 
    border-color: var(--textColor);
    border-width: 2px;
    border-radius: 12px;

    margin-left: 10px;
    margin-right: 10px;
    padding: 10px; 
    text-decoration: none;

    /*in line links or not*/
    display: block; 
    margin-bottom: 10px;
    text-align: center;
}

.videos {
    max-width: 675px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.youtube {
    background-color: red;
    border-color: red;
}

.video {
    border-radius: 12px;
    display: block;
    padding:10px;
    background-color: black;
    margin: 20px auto;
}

.back {
    text-decoration: none;
    color: var(--textColor);
    background-color: red;
    border-color: red;
    border-width: 2px;
    border-radius: 12px;
    padding: 8px 10px;

}
